@use "sass:list";
@import "variables";

base-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    width: 100dvw;
    height: 100dvh;
    min-width: 400px;
    margin: 0;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *:not(script, input) {
        @extend base-container;
        overflow: hidden;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.keep {
    flex-grow: 0;
}



::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #aaa;
}